*{
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */

    /* Disable user selection */
    user-select: none;
    -webkit-user-select: none;
    
    /* Disable user drag */
    -webkit-user-drag: none;
}
body{
    background-image: url("image/general bg.png");
    background-repeat: no-repeat;
    position: relative;
}

.icon img{
    display: block;
    position: absolute;
    height: 12vw;
    right: 0px;
    top: -9vw;
}

h1.heading{
    text-align: center;
    color: white;
    font-size: 12vw;
    text-transform: uppercase;
    padding-top: 13vw;
}

.section1, .section2{
    display: flex;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    align-content:center;
    flex-grow: 0;
}
.section1{
    padding-top: 10vw;
}
.section2{
    padding-top: 5vw;
}
@media screen and (max-width: 700px){
    body{
        background-size:contain;
    }
    .section1, .section2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .section1{
        flex-wrap: wrap;
    }
    .section2{
        flex-wrap:wrap-reverse;
    }
    .section1 th, .section2 th{
        text-align: center;
    }
    .section1 td, .section2 td{
        text-align: center;
    }
}

@media screen and (min-width: 701px){
    body{
        background-size:cover;
    }
    .section1, .section2{
        flex-wrap: nowrap;
    }
    .section1 th{
        text-align: left;
    }
    .section2 th{
        text-align: right;
    }
    .section1 td, .section2 td{
        text-align: justify;
        text-justify: inter-word;
    }
}

.section1 img, .section2 img{
    max-width: 35vw;
    max-height: 35vw;
}
.section1 th, .section2 th{
    font-size: 7vw;
    text-transform: capitalize;

    /* make the gradient color on text */
    background: -webkit-linear-gradient(#198ebc, #333333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section1 table, .section2 table{
    padding-right: 30px;
    padding-left: 30px;
}
.section1 td, .section2 td{
    font-size: 2.5vw;
    padding-top: 40px;
}