body{
    background-image: url("image/general bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    max-width:fit-content;
    max-height: fit-content;
}
img.logo{
    max-width: 384px;
    max-height: 216px;
    position: absolute;
    top: 0%;
    right: 1%;
}
