div,table,th,td,h1,h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1.Name{
    font-size: smaller;
}
hr.Line{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-top: 0%;
}
h2.word{
    font-size: medium;
}
table, th, td{
    border: 1px solid gray;
    text-align: left;
    align-items: center;
}
table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
img.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    border: 1px solid gray;
    padding: 0.3%;
    width: 10%;
    box-shadow: 0 0 2px 1px rgba(34, 36, 37, 0.7);
}
th.table_2{
    text-align: center;
}
div.youtube{
    margin-left: auto;
    margin-right: auto;
}
